/* Define color variables */
:root {
  --background-color: #1a1a1a; /* Dark gray for background */
  --highlight-color: #d2b400; /* Yellow-gold text color */
  --hover-color: #1b4f49; /* Dark turquoise on hover */
  --border-color: #505c3a; /* Border color */
}

.taskbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: var(--background-color); /* Use variable for background */
  display: flex;
  align-items: center;
  justify-content: center; /* Center everything horizontally */
  box-shadow: 0 -12px 10px rgba(0, 0, 0, 0.5);
  border-top: 2px solid var(--border-color); /* Use variable for border */
  padding: 0 20px;
}

.taskbar-items {
  display: flex;
  align-items: center; /* Vertically center the items */
  gap: 15px;
  max-width: 70%; /* Limit the width of the taskbar items */
  width: 100%; /* Ensure the items take full width up to the max-width */
}

.taskbar-section-left,
.taskbar-section-right {
  display: flex;
  gap: 7vw;
}

.taskbar-section-left {
  margin-right: auto; /* Push left section towards the middle */
}

.taskbar-section-right {
  margin-left: auto; /* Push right section towards the middle */
}

.taskbar-icon {
  position: relative;
  top: -9vh; /* Adjust to protrude above taskbar */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Bring the icon above other elements */
}

.taskbar-icon-img {
  width: 12vw;
  height: 14vw;
}

.taskbar-item {
  color: var(--highlight-color); /* Use variable for text color */
  font-size: 1.2em; /* Slightly larger text */
  cursor: pointer;
  background: none; /* Remove background */
  border: none; /* Remove border */
  padding: 0; /* Remove padding */
  text-decoration: none; /* Remove any underlining */
}

.taskbar-item:hover {
  color: var(--hover-color); /* Use variable for hover color */
}

.taskbar-item:focus {
  outline: none; /* Remove focus outline */
}
